In [39]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [18]:
train = pd.read_csv('data/train_transaction.csv')

In [19]:
train_id = pd.read_csv('data/train_identity.csv')

In [20]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590540 entries, 0 to 590539
Columns: 394 entries, TransactionID to V339
dtypes: float64(376), int64(4), object(14)
memory usage: 1.7+ GB

In [21]:
train_id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144233 entries, 0 to 144232
Data columns (total 41 columns):
TransactionID    144233 non-null int64
id_01            144233 non-null float64
id_02            140872 non-null float64
id_03            66324 non-null float64
id_04            66324 non-null float64
id_05            136865 non-null float64
id_06            136865 non-null float64
id_07            5155 non-null float64
id_08            5155 non-null float64
id_09            74926 non-null float64
id_10            74926 non-null float64
id_11            140978 non-null float64
id_12            144233 non-null object
id_13            127320 non-null float64
id_14            80044 non-null float64
id_15            140985 non-null object
id_16            129340 non-null object
id_17            139369 non-null float64
id_18            45113 non-null float64
id_19            139318 non-null float64
id_20            139261 non-null float64
id_21            5159 non-null float64
id_22            5169 non-null float64
id_23            5169 non-null object
id_24            4747 non-null float64
id_25            5132 non-null float64
id_26            5163 non-null float64
id_27            5169 non-null object
id_28            140978 non-null object
id_29            140978 non-null object
id_30            77565 non-null object
id_31            140282 non-null object
id_32            77586 non-null float64
id_33            73289 non-null object
id_34            77805 non-null object
id_35            140985 non-null object
id_36            140985 non-null object
id_37            140985 non-null object
id_38            140985 non-null object
DeviceType       140810 non-null object
DeviceInfo       118666 non-null object
dtypes: float64(23), int64(1), object(17)
memory usage: 45.1+ MB

In [22]:
train.columns

Index(['TransactionID', 'isFraud', 'TransactionDT', 'TransactionAmt',
       'ProductCD', 'card1', 'card2', 'card3', 'card4', 'card5',
       ...
       'V330', 'V331', 'V332', 'V333', 'V334', 'V335', 'V336', 'V337', 'V338',
       'V339'],
      dtype='object', length=394)

In [23]:
train.isnull().sum()

TransactionID          0
isFraud                0
TransactionDT          0
TransactionAmt         0
ProductCD              0
card1                  0
card2               8933
card3               1565
card4               1577
card5               4259
card6               1571
addr1              65706
addr2              65706
dist1             352271
dist2             552913
P_emaildomain      94456
R_emaildomain     453249
C1                     0
C2                     0
C3                     0
C4                     0
C5                     0
C6                     0
C7                     0
C8                     0
C9                     0
C10                    0
C11                    0
C12                    0
C13                    0
                   ...
V310                  12
V311                  12
V312                  12
V313                1269
V314                1269
V315                1269
V316                  12
V317                  12
V318                  12
V319                  12
V320                  12
V321                  12
V322              508189
V323              508189
V324              508189
V325              508189
V326              508189
V327              508189
V328              508189
V329              508189
V330              508189
V331              508189
V332              508189
V333              508189
V334              508189
V335              508189
V336              508189
V337              508189
V338              508189
V339              508189
Length: 394, dtype: int64

In [24]:
train = train.dropna(axis = 1)

In [25]:
train.columns

Index(['TransactionID', 'isFraud', 'TransactionDT', 'TransactionAmt',
       'ProductCD', 'card1', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8',
       'C9', 'C10', 'C11', 'C12', 'C13', 'C14'],
      dtype='object')

In [26]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590540 entries, 0 to 590539
Data columns (total 20 columns):
TransactionID     590540 non-null int64
isFraud           590540 non-null int64
TransactionDT     590540 non-null int64
TransactionAmt    590540 non-null float64
ProductCD         590540 non-null object
card1             590540 non-null int64
C1                590540 non-null float64
C2                590540 non-null float64
C3                590540 non-null float64
C4                590540 non-null float64
C5                590540 non-null float64
C6                590540 non-null float64
C7                590540 non-null float64
C8                590540 non-null float64
C9                590540 non-null float64
C10               590540 non-null float64
C11               590540 non-null float64
C12               590540 non-null float64
C13               590540 non-null float64
C14               590540 non-null float64
dtypes: float64(15), int64(4), object(1)
memory usage: 90.1+ MB

In [27]:
train.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14
0,2987000,0,86400,68.5,W,13926,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2.0,0.0,1.0,1.0
1,2987001,0,86401,29.0,W,2755,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0
2,2987002,0,86469,59.0,W,4663,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0
3,2987003,0,86499,50.0,W,18132,2.0,5.0,0.0,0.0,0.0,4.0,0.0,0.0,1.0,0.0,1.0,0.0,25.0,1.0
4,2987004,0,86506,50.0,H,4497,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0

In [28]:
train.drop(['TransactionID'], axis = 1, inplace = True)

In [29]:
train.head()

,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14
0,0,86400,68.5,W,13926,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2.0,0.0,1.0,1.0
1,0,86401,29.0,W,2755,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0
2,0,86469,59.0,W,4663,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0
3,0,86499,50.0,W,18132,2.0,5.0,0.0,0.0,0.0,4.0,0.0,0.0,1.0,0.0,1.0,0.0,25.0,1.0
4,0,86506,50.0,H,4497,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0

In [30]:
train.ProductCD.value_counts()

W    439670
C     68519
R     37699
H     33024
S     11628
Name: ProductCD, dtype: int64

In [31]:
#train.isFraud.plot(kind = 'bar')

In [32]:

dummy_columns = ['ProductCD']

for i in range(0, len(dummy_columns)):
    colname = "df_" + str(i)
    train[dummy_columns[i]] = pd.Categorical(train[dummy_columns[i]])
    train[dummy_columns[i]] = train[dummy_columns[i]].cat.codes
    colname = pd.get_dummies(train[dummy_columns[i]])
    train = pd.concat([train, colname], axis = 1)

In [33]:
train.head()

,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,C1,C2,C3,C4,C5,...,C10,C11,C12,C13,C14,0,1,2,3,4
0,0,86400,68.5,4,13926,1.0,1.0,0.0,0.0,0.0,...,0.0,2.0,0.0,1.0,1.0,0,0,0,0,1
1,0,86401,29.0,4,2755,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,1.0,0,0,0,0,1
2,0,86469,59.0,4,4663,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,1.0,0,0,0,0,1
3,0,86499,50.0,4,18132,2.0,5.0,0.0,0.0,0.0,...,0.0,1.0,0.0,25.0,1.0,0,0,0,0,1
4,0,86506,50.0,1,4497,1.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,1.0,1.0,0,1,0,0,0

In [36]:
isFraud = pd.Categorical(train['isFraud'])

In [38]:
train = train.drop(['isFraud'], axis = 1)

In [40]:
X_train, X_test, y_train, y_test = train_test_split(train, isFraud,test_size=0.3)

TypeError: take_nd() got an unexpected keyword argument 'axis'